<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<Appenders>
		<Console name="CONSOLE">
			<PatternLayout>
				<pattern>%d{ABSOLUTE} [%t] %p - %c{1}.%M | %m%n</pattern>
			</PatternLayout>
		</Console>
		<RollingFile name="LOGFILE" fileName="./logs/nodetask.log" filePattern="./logs/nodetask-%d{MM-dd-yyyy}-%i.log.gz">
			<DefaultRolloverStrategy max="20" />
			<Policies>
				<SizeBasedTriggeringPolicy size="5MB" />
			</Policies>
			<PatternLayout>
				<pattern>%d{ISO8601} [%t] %p - %c{1} | %m%n</pattern>
			</PatternLayout>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="co.hypcode.tasknode" level="info" />
		<Logger name="org.apache" level="warn" />
		<Logger name="org.glassfish" level="warn" />
		<Logger name="SLF4J" level="warn" />
		<Root level="info">
			<AppenderRef ref="CONSOLE" />
		</Root>
	</Loggers>
</log4j:configuration>